<h1>
  Taxonomy Editor
</h1>

<h2>Update Term</h2>
<a routerLink="/">Back</a><br/><br/>

<h3 *ngIf="!valid">Term not found</h3>

<form id="formUpdateTerm" name="formUpdateTerm" 
      #termData="ngForm" (ngSubmit) = "updateTerm(termData.value)">
  <label>Name</label>
  <input type="text" name="term" placeholder="Term Name" [(ngModel)]=data.term/><br/><br/>
  <label>Category</label>
  <input type="text" name="category" placeholder="Category Name" [(ngModel)]=data.category/><br/><br/>
  <input type="submit" value="Update"/>

</form>
