<h1>
  Taxonomy Editor
</h1>

<h2>List of Terms</h2>
<h3 *ngIf= "isDeleted">{{deleteString}}</h3>
<a routerLink="/term">Add Term</a> | 
<a routerLink="/category"> View Categories</a>
<br/><br/>
<table>
    <th>Id</th>
    <th>Terms</th>
    <th>Category</th>
    <th>Delete</th>
    <th>Update</th>    
  <tr *ngFor = "let term of terms">
    <td>{{term.id}}</td>
    <td>{{term.term}}</td>
    <td>{{term.category}}</td>
    <td (click)="deleteTerm(term.id)"><a>Delete</a></td>
    <td [routerLink] = "['/updateTerm', term.id]" ><a>Update</a></td>
  </tr>
</table>